@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

@plugin '@tailwindcss/forms';

@import '../../vendor/tallstackui/tallstackui/css/v4.css';

@source '../../vendor/tallstackui/tallstackui/**/*.php';

*{
    font-family: "Montserrat", sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
}

.title{
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    @apply text-3xl text-gray-800
}

.base-item-sidebar{
    @apply flex items-center gap-3 rounded-md px-3 py-2 text-sm font-medium transition-colors hover:text-white;
}

.item-sidebar{
    @apply text-emerald-100 hover:bg-emerald-800/50;
}

.item-sidebar-active{
    @apply bg-emerald-800/50 text-white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

[class*='col-'] {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-1 { width: 8.333333%; }
.col-1-2 { width: 12.333333%; }
.col-2 { width: 16.666667%; }
.col-2-5 { width: 20.666667%; }
.col-3 { width: 25%; }
.col-3-5 { width: 28%; }
.col-4 { width: 33.333333%; }
.col-4-5 { width: 35.333333%; }
.col-5 { width: 41.666667%; }
.col-6 { width: 50%; }
.col-7 { width: 58.333333%; }
.col-8 { width: 66.666667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.333333%; }
.col-11 { width: 91.666667%; }
.col-12 { width: 100%; }

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.025em;
}
